<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wedeliver">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeDeliver.App">
        <activity android:name=".orderSuccess"></activity>
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".user_account_details" />
        <activity android:name=".order" />
        <activity android:name=".cart" />
        <activity android:name=".login"></activity>
        <activity android:name=".registration" />
        <activity android:name=".MainActivity" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>